{% comment %}
{% hyde_fonts link %}
{% endcomment %}

{% for file in page.css_files %}
	<style>
		{{ file.content }}
	</style>
{% endfor %}

{% if site.ownership %}
<link rel="me" href="{{ site.ownership }}">
{% endif %}

<link rel="author" href="{{ '/humans.txt' | prepend: site.baseurl }}" />
<link rel="me" href="https://mastodon.social/@gregdaynes" />

<link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg">
<link rel="icon" type="image/png" href="/assets/images/favicon.png">

{% feed_meta %}
