{% comment %}
{% hyde_fonts link %}
{% endcomment %}

{% for file in page.css_files %}
	<style>
		{{ file.content }}
	</style>
{% endfor %}

{% if site.ownership %}
<link rel="me" href="{{ site.ownership }}">
{% endif %}

<link rel="author" href="{{ '/humans.txt' | prepend: site.baseurl }}" />
<link rel="me" href="https://mastodon.social/@gregdaynes" />

<link rel="icon" type="image/png" href="/assets/images/favicon.png">
<link rel="icon" type="image/svg+xml" href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' class='feather feather-smile' viewBox='0 0 24 24'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath d='M8 14s1.5 2 4 2 4-2 4-2M9 9h0m6 0h0'/%3E%3C/svg%3E%3Cstyle%3E@media (prefers-color-scheme:light)%7B:root%7Bfilter:contrast(1) brightness(1)%7D%7D@media (prefers-color-scheme:dark)%7B:root%7Bfilter:invert(100%25)%7D%7D%3C/style%3E%3C/svg%3E%0A" />
{% feed_meta %}
