---
layout: base
permalink: /resume
title: Resume
css:
  - resume.css
---
{% assign data = site.data.pages.resume %}

{{ data.content | markdownify }}

{% assign experience = site.data.skills | where: 'name', 'Experience' | first %}
{% include components/training.html data=experience name="experience" %}


{% contentfor sidebar %}
  {% assign nav = site.data.navigation | where: "title", "Linktree" | first %}
  {% include components/toc-list.html list= nav.data icon=true %}

  {% include components/training.html data=site.data.skills.education name="education" title_tag="span" %}

	{% include components/training.html data=site.data.skills.courses name="courses" title_tag="span"  %}

	{% include components/training.html data=site.data.skills.languages name="training" title_tag="span" display_grid="true" sort="level" %}

	{% include components/training.html data=site.data.skills.frameworks name="training" title_tag="span" display_grid="true" sort="level" %}

	{% include components/training.html data=site.data.skills.services name="training" title_tag="span" display_grid="true" sort="level" %}

	{% include components/training.html data=site.data.skills.interests name="interests" title_tag="span" %}
{% endcontentfor %}
