<footer>
    <p>Specializing in friendly, easy to use websites for anyone.</p>
    <ul>
        <dl>
            <dt>Responsive Design</dt>
            <dd>Your website, on mobile phones, tablets, desktops, video game consoles, tv, car navigation, even your refridgerator</dd>
            <dt>User Experience</dt>
            <dd>If the people who use your website have trouble reading about your services or products, they'll probably have a hard time contacting you too.</dd>
            <dt>Simple Solutions</dt>
            <dd>Websites, and the stuff that makes them work, built for your purpose. If you don't need to store a library worth of knowledge, why use a management system designed for it?</dd>
            <dt>Single Person, Sometimes</dt>
            <dd>All the planning, design, development, and deployment is managed by me. Everything. I know your product, inside and out, start to finish. But it doesn't need to be like that. If you have your own designers, or developers, manage your own servers, then we can still work together.</dd>
    </ul>

    <ul>
        <li><a href="//github.com/gregdaynes">See what I've done</a></li>
        <li><a href="//twitter.com/gregdaynes">Follow me on twitter</a></li>
        <li><a href="//www.google.ca/maps/place/Victoria,+BC/@48.4266797,-123.3584175,14z/data=!3m1!4b1!4m2!3m1!1s0x548f738bddb06171:0x38e8f3741ebb48ed">The place I call home</a></li>
        <li><a href="#">Contact me quickly</a></li>
    </ul>
</footer>
