@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/Montserrat-VF.woff2") format("woff2")
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url("/static/fonts/Montserrat-bold800.woff") format("woff")
}

.capsizedText::before {
	content: "";
	margin-bottom: 0.0137em;
	display: table;
}

.capsizedText::after {
	content: "";
	margin-top: -0.0137em;
	display: table;
}

.three-bg {
  @apply md:block inset-0 fixed bottom-0;
  z-index: -1;
}
