* {
    box-sizing: border-box;
}


footer {
    background-color: #444;
    padding: $gutter / 2 $gutter;
    color: #fff;
    @extend %clearfix;
}

    footer ul {
        width: 50%;
        float: left;

    }
