@import url(http://fonts.googleapis.com/css?family=Ovo|Muli:300,400);

$type--heading: 'Ovo', serif;
$type--body: 'Muli', sans-serif;
$type--weight: 300;
$type--weight-bold: 400;
$type--weight-heavy: 800;

$type--size-large:  1.999rem;
$type--size-medium: 1.414rem;
$type--size:        1rem;
$type--size-small: 0.707rem;
$type--size-tiny:  0.5rem;

$gutter: 1em;
$gutter--small: $gutter / 2;
$gutter--tiny:  $gutter / 4
