html {
    font-size: 100%;
    line-height: 1.4;
}

body {
    font-family: $type--body;
    font-size: $type--size;
    font-weight: $type--weight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $type--heading;
    font-weight: $type--weight;
}

h1 {
    font-size: $type--size-large;
}

h2 {
    font-size: $type--size-medium;
}

h3 {
    font-size: $type--size;
}

h4 {
    font-weight: $type--weight-bold;
}

h4, h5 {
    font-size: $type--size-small;
}

h6 {
    font-size: $type--size-tiny;
}

small {
    font-size: $type--size-small;
}

.post {
    max-width: 35em;
    margin: 0 auto;
}


header {
    text-align: center;
}

dl, dt, dd
ul,
ol {
    font-weight: $type--weight;
    font-size: $type--size;
    font-family: $type--body;
}
