a {
	text-decoration: underline;
	text-underline-offset: 0.25rem;
	text-decoration-style: dotted;
	color: var(--_color-link-normal);

	&:visited {
		color: var(--_color-link-visited);
	}

	&:hover {
		color: var(--_color-link-hover);
	}

	&:active{
		color: var(--_color-link-active);
	}

	&.current {
		color: var(--_color-link-current);
	}

	&:has(svg) {
		display: inline-flex;
		align-items: center;
		gap: 0.5rem;

		svg {
			opacity: 0.75;
		}
	}
}

/**
 * Layout
 * ======
 */

.center {
  box-sizing: content-box;
  margin-inline: auto;
  padding-inline: var(--s1);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
	padding: var(--s1);
	gap: var(--s1);
}

.main-wrapper {
	flex: 1 1;
	display: flex;
	gap: var(--s1);
	flex-wrap: wrap;
	flex-direction: column;
	margin: 0 auto;

	@media (min-width: 768px) {
		flex-direction: row;
	}
}

main {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: calc(100% - 100% / 3 - var(--s1) / 2);
}

main > * + * {
	margin-block-start: var(--s-1);
}

aside {
	display: flex;
	flex-direction: column;
	gap: var(--s1);
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: calc(100% / 3 - var(--s1) / 2);
}

main, aside {
	h2 {
		width: 100%;
		display: inline-flex;
		gap: var(--s-2);
		line-height: 1;
		text-transform: uppercase;
		margin-block-end: 0.5em;
		font-size: 1rem;

		hr {
			flex: 1;
			height: unset;
			display: inline-block;
			border: none;
			background-color: var(--_color-background-secondary);
		}
	}
}

section {
	display: flex;
	flex-direction: column;
	gap: var(--s-2);

	& > * + * {
		margin-block-start: var(--s-1);
	}
}

.more {
	font-weight: bold;
	text-transform: uppercase;
	float: right;
}
