.card-deck {
  display: flex;
  flex-direction: column;
  gap: var(--s1);
}

.card {
  text-align: center;
  padding: var(--s-2);
  border: 1px solid;
  font-weight: bold;
  text-decoration: none;
  line-height: 1.5;
}