/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*! Font stacks by Chris Coyier | https://css-tricks.com/snippets/css/font-stacks/ */

:root {
	font-size: 100%;
	line-height: 1.5;
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;

	@media (min-width: 768px) {
		font-size: clamp(1rem, 1.125rem, 4dvw);
	}
}

* {
	margin: 0;
}

*, *::before, *::after {
	box-sizing: border-box;
}

*:focus {
	outline-width: thin;
	outline-style: solid;
	outline-offset: var(--s-3);
}

html {
	font-weight: normal;
	-webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: var(--_color-background-primary);
	color: var(--_color-type-primary);
	max-width: 1024px;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
	padding: var(--s1);
	gap: var(--s1);
}

hr {
	height: unset;
	color: inherit;
	border: none;
	background-color: var(--_color-background-secondary);
}

abbr[title] {
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp,
pre {
	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
	font-size: 1rem; /* 2 */
}

small {
	font-size: 0.8em;
}

sub,
sup {
	font-size: 0.75em;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

img {
  display: block;
  max-inline-size: 100%;
}

ul, ol {
	padding-inline-start: 2ch;
}

a {
	text-decoration: underline;
	text-underline-offset: 0.25rem;
	text-decoration-style: dotted;
	color: var(--_color-link-normal);

	&:visited {
		color: var(--_color-link-visited);
	}

	&:hover {
		color: var(--_color-link-hover);
	}

	&:active{
		color: var(--_color-link-active);
	}

	&.current {
		color: var(--_color-link-current);
	}

	&:has(svg) {
		display: inline-flex;
		align-items: center;
		gap: 0.5rem;

		svg {
			opacity: 0.75;
		}
	}
}

.main-wrapper {
	flex: 1 1;
	display: flex;
	gap: var(--s1);
	flex-wrap: wrap;
	flex-direction: column;
	margin-inline: auto;

	@media (min-width: 768px) {
		flex-direction: row;
	}
}

main {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: calc(100% - 100% / 3 - var(--s1) / 2);
}

aside {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: calc(100% / 3 - var(--s1) / 2);
}

.banner {
	width: 100%;
	display: inline-flex;
	gap: var(--s-2);
	line-height: 1;
	text-transform: uppercase;
	font-size: 1rem;

	hr {
		flex: 1;
		display: inline-block;
	}
}

.stack {
	display: flex;
	flex-direction: column;
	gap: var(--s1);

	.stack {
		gap: var(--s0);

		.stack {
			gap: var(--s-2);
		}
	}
}

.more {
	font-weight: bold;
	text-transform: uppercase;
	float: right;
}

header, footer {
	line-height: 1;
	display: flex;

	nav {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: var(--s-1);
	}
}

header {
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
	flex-direction: column;
	text-transform: uppercase;
	gap: var(--s1);

	h1 {
		line-height: .9;
	}

	nav {
		font-size: clamp(1rem, 1.375rem, 4dvw);
	}

	a {
		text-decoration: none;
		font-weight: bold;

		&.current {
			text-decoration: underline;
		}
	}
}

footer {
	text-align: center;
	gap: var(--s-1);
	flex-wrap: wrap;
	justify-content: center;

	p {
		opacity: 0.5;
	}
}
