/* Settings -------------------------------------------------------- */

:root {
	line-height: 1.5;
  font-family: sans-serif;
  font-size: clamp(1.1rem, 1.5vw, 1.3rem);
}

/* Elements --------------------------------------------------------- */

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: var(--_color-background-primary);
	color: var(--_color-type-primary);
	max-width: 1024px;
	margin-inline: auto;
  display: flex;
  flex-direction: column;
	min-height: 100dvh;
	padding-inline: var(--s0);
}

a {
	color: var(--_color-link-normal);

	&:visited {
		color: var(--_color-link-visited);
	}

	&:hover {
		color: var(--_color-link-hover);
	}

	&:active{
		color: var(--_color-link-active);
	}

	&.current {
		color: var(--_color-link-current);
	}

	&:has(svg) {
		display: inline-flex;
		align-items: center;
		gap: var(--s-1);
	}
}

h2 {
  margin-block-end: var(--s-3);
}

/* Objects ---------------------------------------------------------- */

main :first-child {
  margin-block-start: 0;
}

aside :first-child {
  @media screen and (min-width: 768px) {
    margin-block-start: 0;
  }
}

.with-sidebar {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: var(--s1);

    > aside {
      flex-basis: 30%;  
      flex-grow: 1;
    }

    > main {
      flex-basis: 0;
      flex-grow: 999;
      min-inline-size: 50%;
    }
  }
}

/* Components ------------------------------------------------------- */

header {
  font-family: impact;
  text-transform: uppercase;
  text-align: center;
  text-wrap: balance;
  line-height: 1;
  
  * { 
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  nav {
    font-size: var(--s1);
    margin-block: var(--s1);
  }

  .current {
    text-decoration: underline;
  }
}

footer {
  /* push footer to bottom of page if screen taller than content */
  margin-block-start: auto;
	text-align: center;
  text-wrap: balance;
}

/* Utilities -------------------------------------------------------- */

/* Templates -------------------------------------------------------- */

/* Vendor ----------------------------------------------------------- */
