footer {
	text-align: center;
	line-height: 1.1;

	&, nav {
		display: flex;
		gap: var(--s-1);
		justify-content: center;
		flex-wrap: wrap;
	}

	> * {
		max-inline-size: none;
	}

	p {
		flex: 0 1 100%;
		opacity: 0.5;
	}
}
