header {
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
	display: flex;
	flex-direction: column;
	text-transform: uppercase;
	gap: var(--s1);
	line-height: 1;

	h1 {
		line-height: .9;
	}

	nav {
		display: flex;
		flex-wrap: wrap;
		gap: var(--s-1);
		justify-content: center;
		font-size: clamp(1rem, 1.375rem, 4dvw);
	}

	a {
		text-decoration: none;
		font-weight: bold;

		&.current {
			text-decoration: underline;
		}
	}
}
