code {
  font-size: 0.9em;
}

/* inline code */
p > code {
  background: var(--_color-background-code);
}

/* code blocks */
div.highlight {
  overflow: scroll;
  background: var(--_color-background-code);
}

pre {
  margin-block: 0;
  padding: var(--s-1);
  border-radius: 3px;
  overflow-x: auto;
}

/* Footnotes */
.footnotes p {
    margin-block-end: 0;
}

/* Blockquote */
blockquote {
    border-inline-start: 4px solid;
    padding-inline-start: 1rem;
    margin-inline: auto;
    font-weight: bold;
    font-style: italic;
}
