code {
  font-size: 0.9em;
}

/* inline code */
p > code {
  background: var(--_color-background-code);
}

/* code blocks */
div.highlight {
  overflow: scroll;
  background: var(--_color-background-code);
}

pre {
  margin-block: 0;
  padding: var(--s-1);
  border-radius: 3px;
}
