#markdown-toc ul, #markdown-toc li {
  margin-block-end: 0;
}

article * + * {
  margin-block-start: var(--s-1);
}
article div:has(> pre),
article figure:has(> pre) {
  padding: var(--s1);
  box-shadow: inset 0 0 0 1px var(--_color-decoration-shadow);
  border-radius: 4px;
  overflow: scroll;
  background: rgba(0, 0, 0, 0.0666666667);
  display: flex;
}
article code {
  opacity: 0.75;
  white-space: wrap;
}
article #markdown-toc ul {
  padding-inline-start: 2ch;
}