main, aside {
	small {
		display: block;
		opacity: 0.5;
	}
}

span[data-daterange] {
	display: block;
}

aside [data-display-grid="true"] {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

  h2 {
    flex-basis: 100%;
  }

	div {
		flex: 0 1 calc(100% / 3 - var(--s0));
		max-width: calc(100% / 3 - var(--s0));
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	progress {
		width: 100%;
		vertical-align: baseline;
	}
}
