.linktree {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
}

main, aside {
	h3 {
		margin-block-end: var(--s-1);

		small {
			display: block;
			opacity: 0.5;
		}
	}

	p {
		margin-block-end: var(--s-1);
	}


	.notes {
		> * {
			padding-inline-start: var(--s1);
		}

		& > * + * {
			margin-block-start: var(--s-1);
		}
	}
}

main {
	div {
		margin-block-end: var(--s1);
	}
}

section {
	display: block;
}

aside [data-display-grid="true"] {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--s1);

	div {
		margin: 0;
		flex: 0 1 calc(100% / 3 - var(--s2) / 2);
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		line-height: 1.1;
		white-space: nowrap;

	}

	progress {
		display: block;
		width: 50px;
	}
}

