nav:has(ol, ul) {
  ol, ul {
    list-style: none;
    padding: 0;
  }

  div {
    display: flex;
    align-items: baseline;
    gap: var(--s-2);
    line-height: 1.5;
  }

  .leaders {
    flex-grow: 1;
    border-bottom: 2px dotted;
  }

  time {
    flex-shrink: 0;
  }

  p {
    margin-block: 0 var(--s-2);
  }
}
