.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

/* line-height debug */
/** /
body {
	background: repeating-linear-gradient(180deg, black 0, white 1px, white 16px, black 16px);
	background: repeating-linear-gradient(180deg, white 0, black 1px, black 1rem, white 1rem);
}
/**/
