{% assign data = include.data %}
{% assign component_name = include.name %}
{% assign title_tag = include.title_tag | default: "h3" %}
{% assign display_grid = include.display_grid | default: "false" %}

<section data-component="{{ data.name | safe }}" data-display-grid="{{ display_grid }}">
	<h2>{{ data.name }}</h2>

	{% for data in data.data %}
	<div>
		<{{ title_tag }} class="title">
			{{ data.title }}

			<small>
				{{ data.subtitle }}

				{% unless data.datestart == "" %}
				<span data-daterange>

					<time datetime="{{ data.datestart | date: "%Y-%m-%d" }}" data-date>
						{{ data.datestart | date: "%B %Y" }}
					</time>

					&mdash;

					{% if data.dateend == "" %}
					Current
					{% else %}
					<time datetime="{{ data.dateend | date: "%Y-%m-%d" }}" data-date>
						{{ data.dateend | date: "%B %Y" }}
					</time>
					{% endif %}
				</span>
				{% endunless %}
			</small>
		</{{ title_tag }}>

		{{ data.content | markdownify}}

		{% if data.level == "" %}
		{% elsif data.level >= 0 %}
		<progress data-level value="{{data.level}}" max="5"></progress>
		{% endif %}

		{% if data.notes %}
		<ul>
			{% for note in data.notes %}
			<li>{{ note | markdownify}}</li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>
	{% endfor %}
</section>
