---
---
<!DOCTYPE html>
<html lang="{{site.data.config.data.lang}}">
{% include html/head.html %}
{% include fragment/body-tag.html %}
    {% include components/header.html %}

  {% ifhascontent fullpage %}
    {% contentblock fullpage %}
  {% endifhascontent %}

  {% ifnothascontent fullpage %}
    <div class="with-sidebar">
      <main>
        {{ content }}
      </main>

      <aside>
        {% ifhascontent sidebar %}
          {% contentblock sidebar %}
        {% endifhascontent %}

        {% ifnothascontent sidebar %}
          {% include components/sidebar.html %}
        {% endifnothascontent %}
      </aside>
    </div>
{% endifnothascontent %}

  {% include components/footer.html %}
  {% include html/scripts.html %}
</body>
</html>
